/*
	Theme Name	: Clinic Portal
	Framework		: SCSS SASS
*/

/** VARIABLE **/
$font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$dfont2: 'Source Sans Pro', sans-serif;
$dfont3: 'Noto Serif JP', serif;
$dfsize: 15px;
$dclr: #484848;
$tclr: #37396C;

$f1: 24px;
$f2: 20px;
$f3: 18px;
$f4: 14px;
$f5: 12px;

$c1: #4d4d4d;
$c2: #f98f8b;
$c3: #fff;
$c4: #ed6d47;
$c5: #d9d9d9;

$bg1: #f5fffe;
$bg2: #fbfbfb;
$bg3: #ffd65b;

$bd1: 1px solid #d9d9d9;
$bd2: 1px solid #e3e3e3;
$bd3: 1px solid #c1ab93;
$bd4: 1px solid #f6bf5f;
